<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndPointUrl" value="https://appmon.documents.azure.com:443/"/>
    <add key="AuthorizationKey" value="RGgMkQHvyxxkPjmMZDkFTZZYgRPFvFb7WeNyX9aZuDWLjWpw2LQG9txzVv2suuEmryA2TczkWs7br1Zusy7t+w=="/>
    <add key="DatabaseId" value="appmondb"/>
    <add key="CollectionId" value="DependencyHealthResultsCollection"/>

    <add key="loginId" value="sivakuchi" />
    <add key="password" value="Just4$iva"/>
    <add key="tfsUri" value="https://aiserms.visualstudio.com/DefaultCollection"/>
    <add key="configPath" value="$/ERMS/Dev/vNext/Ais.Internal.Erms/Ais.Internal.Erms.Portal/Web.config"/>
  </appSettings>
</configuration>