<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <environments>
    <environment name="DEV">
      <appGroups>
        <appGroup name="eCommerce">
          <app name="RIM">
            <dependencies>
              <dependency>
                <type>REST</type>
                <name>GoogleService</name>
                <uri>https://www.googleapis.com/adexchangebuyer/v1.3/SoumenAccount</uri>
              </dependency>
              <dependency>
                <type>CDN</type>
                <name>GoogleJQuery</name>
                <uri>http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js</uri>
              </dependency>
            </dependencies>
          </app>
          <app name="CAP">
            <dependencies>
              <dependency>
                <type>REST</type>
                <name>NewRelicService</name>
                <uri>https://rpm.newrelic.com/api/explore/applications/list</uri>
              </dependency>
            </dependencies>
          </app>
        </appGroup>
      </appGroups>
    </environment>
  </environments>
</configuration>